<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="con" connectionString="Server=DESKTOP-9O46O3J\SQLEXPRESS;Database=SportsCompetitions;Trusted_Connection=True"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="select1" value="SELECT * FROM Country"/>
    
    
    <add key="table1" value="Country"/>
    <!--<add key="select2" value="SELECT * FROM Participant"/>
    <add key="table2" value="Participant"/>
    <add key="foreignkeyrelation" value="FK_Participa_Count"/>-->
    <add key="select2" value="select * from coach"/>
    <add key="table2" value="Coach"/>
    <add key="foreignkeyrelation" value="FK_Coach_CountryID"/>
    <add key="column1" value="CountryID"/>
  </appSettings>
</configuration>